PANDA_ENV=dev
POSTGRES_DB=panda
POSTGRES_USER=panda
POSTGRES_PASSWORD=replace-me
DATABASE_URL=postgres://panda:replace-me@localhost:5432/panda?sslmode=disable
ETCD_ENDPOINTS=http://etcd:2379
RABBITMQ_URL=amqp://user:replace-me@rabbitmq:5672/
RABBITMQ_USER=user
RABBITMQ_PASSWORD=replace-me
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
TEMPO_ENDPOINT=tempo:4317
OPENSEARCH_ENDPOINT=http://opensearch:9200
PROMETHEUS_ENDPOINT=0.0.0.0:8889
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace-me

REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=0
